#player_search_section{
	align-content:center;
	justify-content: center;
}
/*
#player_search_section_sub
*/
#summoner_name{
	width: 75%;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    /* z-index: 3; */
    height: 44px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
}
#region{
	justify-content: center;
}
#summoner_name{
	/*
	justify-content: center;
*/
}