#body_wrap{
	background-color: orange;
	text-align:center;
	
	/*
	align-items: center;
	justify-content: center;
	*/
}

#player_search_section{
	/*
	align-content:center;
	justify-content: center;
	*/
}
#region{
	height: 44px;
	/*
	justify-content: center;
	*/
}
#summoner_name{
	width: 75%;
    background: #fff;
    /*
    display: flex;
    */
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    /* z-index: 3; */
    height: 44px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
}
#search{
	height: 44px;
	background-color: white;
}

#player_icon{
	width: 128px;
}
.champion{
	display: inline-block;
	width: 64px;
	padding: 2px;
}
.champion_star{
	text-align: center;
}

.champion_items{
	width: 100%;
	text-align: center;
}
.item_img{
	width: 25%
}
.empty_item_img{
	height: 16px;
}

.player_match{
	min-height: 20px;
	background-color: green;
}