<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/app/player/Player.css">
<link rel="stylesheet" href="/library/css/font-awesome-4.7.0/css/font-awesome.min.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	Player 검색 창 서버

	<div id='player_search_section'>
		<div id='player_search_section_sub'> 
			<select id='region'>
					<option value='kr'>한국</option>
					<option value='cn'>중국</option>
					<option value='na1'>북미</option>
					<option value='eu'>유럽</option>
					<option value='la'>남미</option>
					<option value='jp1'>일본</option>
			</select> 
			<input id='summoner_name' type="text" placeholder="검색할 유저명을 입력해주세요"
				onkeypress="javascript:press_enter_on_user_name()">
		</div>
	</div>

	<button id='search' onclick="javascript:search_summoner()">검색</button>
	<i class="fa fa-star" aria-hidden="true"></i>

	
	
	<div>
	<img id='player_icon' alt="" src="">
	</div>
	
	<div id='match_list'>
	</div>
</body>
<script type="text/javascript" src='/app/player/Player.js'></script>
</html>