<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/app/index.css">
<head>
<meta charset="UTF-8">
<title>kihwangkwon.com</title>
</head>
<body> 
<a href="/player">플레이어 검색</a>

사이트 설명 : 
riot-api 를 활용한 리그오브레전드 - 전략적 팀 전투
플레이어 전적검색 사이트
활용 기술 스택 
spring boot
javascript
aws-ec2
aws-rds
</body>
<script>
window.onload = console.log("ㄴ냐");
</script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src='/app/index.js'></script>
</html>
