<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/app/match/Match.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<select id='region'>
<option value='kr'>한국</option>
<option value='cn'>중국</option>
<option value='na'>북미</option>
<option value='eu'>유럽</option>
<option value='la'>남미</option>
<option value='jp'>일본</option>
</select> 

<input id='match_id' type="text" placeholder="검색할 매치아이디 입력" onkeypress="javascript:press_enter_on_match_id()">
<button id='search' onclick="javascript:search_match()" >검색</button>
</body>
<script type="text/javascript" src='/app/match/Match.js'></script>
</html>